<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <style type="text/css">
        h1{font-family: 'Jua', sans-serif}
        strong{font-family: 'Nanum Gothic', sans-serif}
    </style>
    <style>
        h1{
            color:#900020;
            font-size:50px
        }
        strong{font-size:30px}
        div{background-color:#f0bf9b}
        div > p {color: #a59c94}
        div > a {color:#ac4fc6}
        form{color:#900020}
    </style>
</head>
<body>
<h1>댓글창</h1>
{% for comment in blog.comments.all %}
<div class="detail">
    <strong>{{comment.body}}</strong>
    <p class="date">{{comment.date | date:"Y년 n월 j일 G시 i분"}}</p>
    <div class="btn">
        <a href="{% url 'comment_update' comment.pk %}">수정</a>
        <a href="{% url 'comment_delete' comment.pk %}">삭제</a>
    </div>
</div>
<hr />
{% empty %}
<p>댓글이 없습니다</p>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %} 
    {{ comment_form.as_p }}
    <input type="submit" value="등록" />
</form>
<br/>
</body>
</html>