<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.pk }}번째 게시물</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>게시물 번호(id): {{ post.pk }}</p>
    <p>글쓴이: {{ post.author }}</p>
    <p>등록일: {{ post.date }}</p>
    <p>{{ post.body }}</p>

<hr />
<h3>댓글창</h3>
{% for comment in blog.comments.all %}
<div class="detail">
    <strong>{{comment.body}}</strong>
    <p class="date">{{comment.date | date:"Y년 n월 j일 G시 i분"}}</p>
    <div class="btn">
        <a href="{% url 'comment_update' comment.pk %}">수정</a>
        <a href="{% url 'comment_delete' comment.pk %}">삭제</a>
    </div>
</div>
<hr />
{% empty %}
<p>댓글이 없습니다</p>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %} 
    {{ comment_form.as_p }}
    <input type="submit" value="등록" />
</form>
<br/>
</body>
</html>